/* start responsive for small devices  */

@media only screen and (max-width: 576px) {
  body {
    padding: 0 10px;
    margin: 0;
    border: 2px solid white;
  }
  h2 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 120%;
  }
  /* start navigation field  */
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }
  .menu-bar {
    position: relative;
  }
  .menu-bar ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    visibility: visible;
    right: 0;
  }
  /* end navigation field  */
  /* start banner field  */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 100%;
  }
  .main-nav {
    width: 100%;
  }
  .banner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .banner-content {
    width: 100%;
    height: 60%;
  }
  .banner-content > h1 {
    font-size: 2.25rem;
    padding-right: 60px;
  }

  .banner-content > p {
    width: 274px;
  }
  .banner-img {
    width: 100%;
    background-size: cover;
  }

  .box2 {
    margin-right: 20px;
    margin-top: 35px;
    width: 145.91px;
    height: 74.09px;
  }
  .box1 {
    margin-top: 300px;
    margin-left: 0px;
    width: 155.74px;
    height: 72.58px;
  }
  .btn-join {
    display: none;
  }
  .btn-join-1 {
    display: inline-block;
    order: 1;
    border-radius: 42px;
    border: none;
    padding: 16px 40px;
    background: rgb(230, 83, 60);
  }
  .btn-download {
    padding: 16px 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
  }
  /* end banner field  */

  /* start habit field  */
  .habit-container {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .habit-card-container {
    width: 100%;
    height: 1216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
  }
  .habit-card-1,
  .habit-card-2,
  .habit-card-3,
  .habit-card-4 {
    width: 231px;
    height: 274px;
    margin-bottom: 36px;
  }
  .habit-content {
    width: 318px;
    height: 124px;
    text-align: center;
  }
  .habit > h2 {
    font-size: 2rem;
  }
  /* end habit field  */

  /* start run field  */
  .run-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .run {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .run-content {
    width: 287px;
    height: 264px;
    margin-left: 0;
  }
  .run-content > h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
  }
  .run > img {
    width: 287px;
    height: 170px;
    object-fit: cover;
    border-radius: 5%;
    margin-right: 0;
  }
  /* end run field  */

  /* start training field  */
  .training-container {
    width: 100%;
  }
  .training {
    width: 100%;
  }
  .training-img {
    display: grid;
    grid-template-columns: 55% 5% 30% 10%;
    grid-template-rows: repeat(2, 140px);
  }
  .training-img > .img-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 18px 18px;
  }
  .training-img > .img-3 {
    visibility: hidden;
  }
  .training-img > .img-6 {
    visibility: hidden;
  }
  /* end training field  */

  /* start bmi field  */
  .bmi-container {
    width: 100%;
    height: 120vh;
    align-items: start;
  }
  .bmi-header {
    width: 90%;
    margin-bottom: 50px;
  }
  .bmi-chart {
    align-items: start;
  }
  .bmi-chart > h3 {
    width: 100%;
    font-size: 1rem;
    margin: 23px 0;
  }
  .bmi-calculator {
    width: 100%;
    height: 800px;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
  .bmi-cal {
    width: 354px;
    height: 395px;
  }
  .bmi-cal > h3 {
    width: 100%;
    font-size: 1rem;
    margin: 30px 0 14px 0;
  }
  .bmi-cal > form > input {
    padding: 12px 14px;
    margin: 6px 12px 6px 0;
  }
  /* end bmi field  */

  /* start team field  */
  .team-container {
    height: 180vh;
  }
  .team {
    width: 100%;
    height: 1500px;
    text-align: center;
  }
  .team > h2 {
    font-size: 2rem;
  }
  .team-img {
    display: grid;
    width: 353px;
    height: 1188px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    border-radius: 18px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: start;
  }
  .img-05,
  .img-06 {
    display: none;
  }
  /* end team field  */

  /* start why choose  */
  .why-choose-container {
    width: 100%;
    height: 150vh;
  }
  .why-choose-box {
    width: 100%;
    height: 140vh;
    padding: 0 10px;
  }
  .why-choose-card {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 150fr);
    grid-template-rows: repeat(3, 280px);
    gap: 3rem;
  }
  /* end why choose  */

  /* start footer field  */
  footer {
    width: 100%;
    height: 720px;
  }
  .footer-box {
    width: 353px;
    height: 548px;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-menu {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-content {
    padding-right: 0px;
  }
  .menu-1 > h3,
  .menu-2 > h3 {
    margin-bottom: 30px;
  }
}
/* end footer field  */
/* end responsive for small devices  */


/* start responsive for mid level device  */

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .main-nav {
    width: 90%;
  }
  .menu-bar > ul {
    gap: 5px;
  }
  header {
    width: 100%;
    height: 140vh;
  }
  .banner {
    width: 70%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .banner-content {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .habit-container {
    height: 100vh;
  }
  .habit {
    width: 566px;
    height: 766px;
  }
  .habit-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    row-gap: 80px;
  }
  .run-container {
    height: 50vh;
  }
  .run {
    width: 684px;
    height: 400px;  
  }
  .run-content > h2 {
    font-size: 2.25rem;
    margin-bottom: 14px;
  }
  .run-content > p {
    font-size: 0.8rem;
  }
  .run > img {
    width: 256px;
    height: 319px;
    object-fit: cover;
    object-position:70% 30%;
  }
  .training {
    width: 684px;
    height: 581px;
  }
  .img-4 {
    justify-content: flex-end;
    padding: 0 0 18px 18px;
  }
  .bmi-header {
    width: 90%;
  }
  .bmi-calculator {
    height: 816px;
    grid-template-columns: repeat(1, 1fr);
  }
  .bmi-chart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
  }
  .bmi-cal {
    width: 684px;
    height: 386px;
    padding-left: 40px;
  }
  .team-container {
    width: 100%;
    height: 100vh;
  }
  .team {
    width: 100%;
  }
  .team-img {
    width: 677px;
    height: 604px;
  }
  .why-choose-box {
    width: 90%;
    height: 80vh;
    padding: 0px;
  }
  .why-choose-card {
    height: 60vh;
    grid-template-rows: repeat(2, 300px);
  }
  footer {
    height: 769px;
  }
  .footer-box {
    width: 682px;
    height: 527px;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-content > .logo {
    font-size: 5.75rem;
  }
  .menu-1 > h3,
  .menu-2 > h3 {
    font-size: 2rem;
  }
  .menu-1 > ul > li,
  .menu-2 > ul > li {
    font-size: 1.25rem;
    padding: 5px 0;
  }
}

/* end responsive for mid level device  */