@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* global style start */
body{
   width: 100%;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgb(255, 255, 255);
   background: rgb(0, 0, 0);
}
*,
*::before,
*::after
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul > li {
   list-style-type: none;
}
ul > li > a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-family: Inter;
   font-size: 18px;
   font-weight: 600;
   line-height: 22px;
}
.active {
   background-color: rgb(230, 83, 60);;
}
button {
   color: rgb(230, 83, 60);
}
h2 {
   font-size: 48px;
   font-weight: 900;
   line-height: 120%;
   margin-bottom: 14px;
}
p, td,
.menu-1 > ul,
.menu-2 > ul,
footer > span,
.box1-content > span,
.box2 > span {
   color: rgba(255, 255, 255, 0.5);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.5px;
}
/* global style end  */

/* nav field start */
nav{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .main-nav{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    text-transform: capitalize;
 }
 .menu-bar > ul {
    display: flex;
    gap: 47px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
 }
 .menu-bar > ul > li {
    border-radius: 46px; 
   
    padding: 8px 20px;
    text-transform: capitalize;
 }
 .menu-bar >ul > li:active{
    background: rgb(230, 83, 60);
 }
 /* nav field end  */
 