@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* global style start */
body{
   width: 100%;
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgb(255, 255, 255);
   background: rgb(0, 0, 0);
}
*,
*::before,
*::after
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul > li {
   list-style-type: none;
}
ul > li > a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-family: Inter;
   font-size: 18px;
   font-weight: 600;
   line-height: 22px;
}
.active {
   background-color: rgb(230, 83, 60);;
}
button {
   color: rgb(230, 83, 60);
}
h2 {
   font-size: 48px;
   font-weight: 900;
   line-height: 120%;
   margin-bottom: 14px;
}
p, td,
.menu-1 > ul,
.menu-2 > ul,
footer > span,
.box1-content > span,
.box2 > span {
   color: rgba(255, 255, 255, 0.5);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.5px;
}
/* global style end  */

/* nav field start */
nav{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .main-nav{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    text-transform: capitalize;
 }
 .menu-bar > ul {
    display: flex;
    gap: 47px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
 }
 .menu-bar > ul > li {
    border-radius: 46px; 
   
    padding: 8px 20px;
    text-transform: capitalize;
 }
 .menu-bar >ul > li:active{
    background: rgb(230, 83, 60);
 }
 /* nav field end  */
 


/* banner field star  */
header{
    height: 85vh;
 }
 .banner {
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 87.95px;
 }
 .banner-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 349px;
    background-image: url(../assets/img/images\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
 }
 .banner-content{
    height: 100%;
    width: 599.05px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
 }
 .banner-content > h1 {
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
 }
 .banner-content > p {
    margin-bottom: 28px;
 }
 .icon > .dot {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    display: flex;
 }
 .box1 {
    width: 206px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 421px;
    margin-left: -113px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
 }
 .box2{
    width: 193px;
    height: 98px;
    margin-top: 125px;
    margin-right: -69px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    align-content: center;
    padding: 0 15px;
 }
 .btn > .btn-join {
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
 }
 .btn > .btn-download {
    padding: 16px 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
 }
 /* banner field end  */
 


/* start habit field  */
.habit-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .habit{
    width: 1044px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .habit > h1 {
    margin-bottom: 14px;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
 }
 .habit > p {
    text-align: center;
    margin-bottom: 58px;
    padding: 0 150px;
 }
 .habit-card-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
 }
 .habit-card-1 > img,
 .habit-card-2 > img,
 .habit-card-3 > img,
 .habit-card-4 > img {
    border-radius: 50%;
    margin-bottom: 30px;
 }
 .habit-card-1 > h3,
 .habit-card-2 > h3,
 .habit-card-3 > h3,
 .habit-card-4 > h3 {
    margin-bottom: 6px;
 }  
 /* end habit field  */
 


/* start run field  */
.run-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .run {
    width: 1060px;
    height: 371px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    border: none;
    background: rgb(34, 34, 34);
 }
 .run-content {
    width: 443px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 54px;
 }
 .run-content > h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
    padding-right: 40px;
 
 
 }
 .run > img {
    width: 366px;
    height: 312px;
    object-fit: none;
    object-position: 65% 30%;
    border-radius: 5%;
    margin-right: 32px;
 }
 /* end run field  */
 


/* start training field  */
.training-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 
 .training {
    width: 1060px;
    height: 581px;
 }
 .training > p {
    margin-bottom: 58px;
 }
 .training-img {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: repeat(2, 210px);
 }
 .img-1,
 .img-3,
 .img-5,
 .img-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 18px 18px;
 }
 .img-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 18px 0 0 18px;
 }
 .img-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 18px 0 0 250px;
 }
 .img-1 {
    background-image: linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)),url(../assets/img/exercise1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
 }
 .img-2 {
    background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),url(../assets/img/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2 / 6;
 }
 .img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../assets/img/exercise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
 }
 .img-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../assets/img/exercise4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1 / 3;
 }
 .img-5 {
    background-image: linear-gradient(rgba(66, 255, 0, 0.3),rgba(66, 255, 0, 0.3)),url(../assets/img/exercise5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 3 / 5;
 }
 .img-6 {
    background-image: linear-gradient(rgba(0, 71, 255, 0.3),rgba(0, 71, 255, 0.3)),url(../assets/img/exercise6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 5 / 7;
 }
 /* end training field  */
 


/* start bmi field  */
.bmi-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .bmi-header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    margin-bottom: 88px;
 }
 .bmi-header > h3 {
    font-size: 28px;
    line-height: 120%;
 }
 .bmi-calculator{
    width: 100%;
    height: 487px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: rgb(34, 34, 34);
 }
 
 
 .bmi-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .bmi-chart > h3 {
    width: 45%;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin: 52px 0;
 }
 table,th,td{
    text-align-last: left;
    padding: 10px 20px;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
 }
 .bmi-cal {
    width: 577px;
    height: 386px;
 }
 .bmi-cal > h2 {
    margin: 49px 0 14px 0;
 }
 .bmi-cal > p {
    margin-bottom: 34px;
 }
 .bmi-cal > form {
    display: grid;
    grid-template-columns: repeat(2,3fr);
 }
 .bmi-col {
    grid-column: 1 / 3;
 }
 
 
 .bmi-cal > form > input {
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px;
    margin: 6px 12px 6px 0;
 }
 .bmi-cal > form > select {
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px;
    margin: 6px 12px 6px 0;
 }
 
 
 .cal,
 .run-content > button {
    margin-top: 34px;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    background: rgb(230, 83, 60);
 }
 /* end bmi field  */
 